#carousel_inner {  
float:left;  
width:210px;
overflow: hidden;   
background: #F0F0F0;  
}  
  
#carousel_ul {  
position:relative;  
left:-210px;  
list-style-type: none;
margin: 0px;  
padding: 0px;  
width:9999px;  
padding-bottom:10px;  
}  
  
#carousel_ul li{  
float: left;  
width:200px;   
padding:0px;  
height:110px;  
background: #000000;  
margin-top:10px;  
margin-bottom:10px;  
margin-left:5px;  
margin-right:5px;  
}  
  
#carousel_ul li img {  
.margin-bottom:-4px;
cursor:pointer;  
cursor: hand;  
border:0px;  
}  
#left_scroll, #right_scroll{  
float:left;  
height:130px;  
width:20px;  
background: #C0C0C0;
cursor: pointer;  
cursor: hand;  
} 